// ========================================================================
// Font
// ======================================================================== /
$font-body: 'Source Sans Pro', sans-serif, Arial;
$font-brand: 'Lora', serif;


// ==============================================fff==========================
// Color
// ======================================================================== /
$white: #FFFFFF;
$black: #000000;
